* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffa400;
  --secondary-color: #5e5e5e;
  --bg-light: #f9f9f9;
  --bg-dark: #202020;
  --white: #ffffff;
  --black: #000000;
  --font: "Chewy", system-ui;
}
.active {
  /* display: block !important; */
  transform: translateX(0) !important;
}
.container {
  width: 1180px;
  /* border: 1px solid green; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  color: var(--primary-color);
  position: relative;
}
.container {
  padding: 1rem;
  margin: 0 auto;
}
p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
.container h1:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
#toggle {
  display: none;
  background-color: transparent;

  border: none;
}
.nav-links li {
  display: inline;
}

.nav-links a {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  margin: 0 0.2rem;
}
.container a:hover {
  color: var(--secondary-color);
}
@media (max-width: 1200px) {
  .container {
    width: 972px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 700px;
  }
  .about .about-content,
  .about .about-img {
    width: 100%;
  }
  .about .about-content {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 500px;
  }
  #toggle {
    display: block;
    background-color: transparent;
    font-size: 1.5rem;
  }
  .nav-links {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-light);
    transform: translateX(-150%);
    transition: 0.3s;
    z-index: 100;
  }
  .nav-links li a {
    display: inline-block;
    width: 100%;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
  }
  /* home section  */
  .home .curosel .curosel-img .curosel-title h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}
/* home start css  */
.home .curosel {
  width: 100%;
  height: 80vh;
  background-color: gray;
  font-family: var(--font);
  /* border: 3px solid red; */
  overflow: hidden;
  position: relative;
}
.home .curosel .curosel-img.active {
  display: block !important;
}
.home .curosel .curosel-img {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.home .curosel .curosel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .curosel .curosel-img .curosel-title {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.221);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  /* padding: 2rem; */
  text-transform: uppercase;
}
.home .curosel .curosel-img .curosel-title h1 {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 1rem 0;
}
.home .curosel .curosel-img .curosel-title h2 {
  margin: 1rem 0;
  color: var(--white);
}
.home #prev,
.home #next {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}
.home #prev {
  left: -5%;
}
.home #next {
  right: -10%;
}
.home .curosel:hover #prev {
  left: 5%;
}
.home .curosel:hover #next {
  right: 3%;
}
.about {
  padding: 5rem 0;
}
.about .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}
.about .about-content {
  width: 450px;
}
.about .about-img {
  width: 450px;
}
.about .about-content {
  margin-bottom: 1.5rem;
}
.about .about-content h1,
.about .about-content h2 {
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.about .about-content p {
  text-align: justify;
}
.about .about-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  outline: 2px solid var(--secondary-color);
  outline-offset: 10px;
}
/* gallery  */
.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font);
  color: var(--primary-color);
  margin: 1rem 0;
  text-decoration: underline 3px solid var(--primary-color);
  text-underline-offset: 1rem;
}
.gallery-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.gallery-content .card {
  flex: 1 1 350px;
  overflow: hidden;
  border-radius: 1rem;
  transition: 0.3s all;
  background-color: var(--bg-light);
}
.gallery-content .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.gallery-content .card .card-body {
  padding: 0 1rem;
}
.gallery-content .card .card-body h2 {
  margin: 1rem 0;
}
.gallery-content .card .card-body p {
  color: var(--black);
}
.gallery-content .card:hover {
  transform: scale(1.05);
}

.contact .contact-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font);
  color: var(--primary-color);
  margin: 1rem 0;
  text-decoration: underline 3px solid var(--primary-color);
  text-underline-offset: 1rem;
}
.contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-form form div {
  width: 40%;
}
form div input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem 0;
  outline: 0;
  font-family: var(--font);
}
form div textarea {
  width: 100%;
  outline: 0;
  font-family: var(--font);
  padding: 0.5rem;
}
form div button {
  width: 100%;
  font-weight: bold;
  font-family: var(--font);
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}
form div button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 992px) {
  .contact-form form div {
    width: 80%;
  }
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 1rem;
}
.contact-info > div {
  width: 30%;
}
.contact-info h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: var(--font);
}
.contact-info li {
  margin: 0.5rem 0;
}
@media (max-width: 992px) {
  .contact-info div {
    width: 40%;
  }
}
